/* styles.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #253372;
    color: white;
    text-align: center;
    padding: 20px 0;
}
#searchInput {
    border-radius: 15px;  
    padding: 10px 20px;   
    border: 1px solid #ccc;  
    outline: none;        
    width: 25%;
    box-sizing: border-box; 
}

main {
    padding: 20px;
}

ul#filialeList {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

ul#filialeList li {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    padding: 10px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 200px; 
    text-align: center; 
}

ul#filialeList li:hover {
    background-color: #e0e0e0; 
}

ul#filialeList li a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

ul#filialeList li a img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover; 
    margin-bottom: 10px;
}

ul#filialeList li a span {
    font-size: 1.5em;   
    font-weight: medium;  
    color: #333;        
    display: block;     
    text-align: center; 
    margin-top: 10px;   
}